{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
        <h4>{{current_user.nickname}}'s Profile</h4>
        {% if address %}
        <div class="container" id="eth-container"></div>
            <div id="balance">
                <span id="balanceText">Your Ethereum Address is:</span>
                <h5 id="ethAddress">{{ address }}</h5>
            </div>
            <div id="tokens">
                <span id="token-span">Your favourite ERC-20 tokens are: </span>
                <h5 id="token-fav"></h5>
            </div>
            <div id="gas">
                <span id="gas-text">The total amount of gas spent: </span>
                <h5 id="total-gas"></h5>
            </div>
        </div>
        {% else %}
        <h4>Please sign a transaction using Metamask to customise your Hashboard: </h4>
        <button id="btn-login">Link Metamask</button>
        {% endif %}

        <div class="container md-2 mb-2" id="transaction-table-to">
            <h4 class="text-center">Etherum Transaction History</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" data-toggle="table" data-patination="true" data-search="true" id="ethTable">
                    <thead>
                        <tr class="bg-dark text-white">
                            {% for header in transaction_table_headings %}
                            <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                        
                        {% for data in transaction_list %}                
                            <tr>
                                <td>{{ data['time']|safe }}</td>
                                <td data-bs-toggle="tooltip" 
                                    data-bs-placement="bottom" 
                                    title={{ data['to'|safe] }}>{{ shorten(data['to']|safe) }}</td>
                                <td data-bs-toggle="tooltip" 
                                    data-bs-placement="bottom" 
                                    title={{ data['from'|safe] }}>{{ shorten(data['from']|safe) }}</td>
                                <td>{{ threeDecimals(data['value']) }} Eth</td>
                                <td>{{ toInt(data['gas_price']|safe) }} Gwei</td>
                                <td>{{ data['gas_used'] }} Eth</td>
                            </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </div>

{% endblock %}