{% extends "base.html" %} {% block title %}Home2{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container col-md-8">
        <div class="container" id="data-graph">
            <!--Graph containing ethereum data-->
        </div>
        <div class="container" id="achievements">
            <!--ETH achievements broken into 4 sections-->
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="container col-md-4">
        <!--Prices and contract names, must be scrollable in order to keep to one page-->
    </div>
</div>

{% endblock %}