{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
        <h4>{{current_user.nickname}}'s Profile</h4>
        {% if address %}
        <div class="container-fluid" id="eth-container"></div>
            <div id="balance">
                <span id="balanceText">Your Ethereum Address is:</span>
                <h5 id="ethAddress">{{ address }}</h5>
            </div>
            <div id="tokens">
                <span id="token-span">Your favourite ERC-20 tokens are: </span>
                <h5 id="token-fav"></h5>
            </div>
            <div id="gas">
                <span id="gas-text">The total amount of gas spent: </span>
                <h5 id="total-gas">{{ gas_total }} Eth</h5>
            </div>
        </div>
        {% else %}
        <h4>Please sign a transaction using Metamask to customise your Hashboard: </h4>
        <button id="btn-login">Link Metamask</button>
        {% endif %}
        
        <div class="container" id="favourite-coins">
            <span>Favourite Coins:</span><br>
            {{ fav_coins }}
        </div>


        <div class="container" id="highest-gas">
            <span>Your highest gas transaction: </span>
            <h5>{{ highest_gas }} Gwei</h5>
        </div>

        <div class="container">
            <h4 class="text-center">Average Gas Spent</h4>
            <div class="container" id="average-gas-container">
                <div class="col-md-6 text-center average-single">
                    <h4>{{ average_gas_ethereum }} Gwei</h4>
                    <span>ETH</span>
                </div>
                <div class="col-md-6 text-center average-single">
                    <h4>{{ average_gas_erc20 }} Gwei</h4>
                    <span>ERC-20</span>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <h4 class="text-center">Current Gas Prices</h4>
            <div class="container" id="gas-container">
                <div class="col-md-4 text-center gas-single">
                    <h4>{{ gas_price_dict['SafeGasPrice']}} Gwei</h4>
                    <span>Safe</span>
                </div>
                <div class="col-md-4 text-center gas-single">
                    <h4>{{ gas_price_dict['ProposeGasPrice']}} Gwei</h4>
                    <span>Normal</span>
                </div>
                <div class="col-md-4 text-center gas-single">
                    <h4>{{ gas_price_dict['FastGasPrice']}} Gwei</h4>
                    <span>Fast</span>
                </div>
            </div>
        </div>
        

        <!--Loops through coins in the coins array and creates a table with pricing-->
        <div class="container-fluid md-2 mb-2" id="p-container"></div>
        {% for coin in price_dict %}
            <div class="row">
                <div class="col-md-6">
                    <span>{{ coin }}</span>
                </div>
                <div class="col-md-6">
                    <span>{{ price_dict[coin] }}</span>
                </div>
            </div>
        {% endfor %}
        </div>

{% endblock %}