<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Blockchain Dashboard{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">
                <a class="nav-item nav-link" id="/login" href="/login">Login</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                <a class="nav-item nav-link" id="/signup" href="/signup">Sign Up</a>
                <a class="nav-item nav-link" id="/" href="/home">Home</a>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <h1>Dapp Test - Authenication with Metamask</h1>
    <span id="logged">You are logged out.</span><br><br>

    <button id="btn-login">Moralis Login</button>
    <button id="btn-logout" style="display: none;">Logout</button>
    <button id="btn-get-stats">Refresh Stats</button><br><br>

    <div id="balance">
        <span id="balanceText" style="display:none">Your Ethereum Address is:</span>
        <h5 id="ethAddress"></h5>
    </div>

    <div id="tokens">
        <span id="token-span" style="display:none;">Your favourite ERC-20 tokens are: </span>
        <h5 id="token-fav"></h5>
    </div>

    <div id="gas" style="display: none;">
        <span id="gas-text">The total amount of gas spent: </span>
        <h5 id="total-gas"></h5>
    </div>

    <form method="POST" name="account-creation" id="account-creation">
        <label>Add a nickname for this address: </label>
        <input type="text" class="form-control" placeholder="Nickname" name="nickname" id="nickname" required />
        <button type="submit" id="accountSubmissionBtn">Submit</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>