{% extends "index.html" %} {% block title %}News{% endblock %}

{% block content %}

<div class="container" id="news-container">
    <div class="container" id="bitcoin-news-container">
        <h2 class="news-title">Bitcoin News</h2>
{% for link in links_bitcoin %}  <!--displays each link in the bitcoin links list-->
        <div class="news-article">
            <a class="news-link" href={{ link['link']|safe }} target="_blank">{{ link['text']|safe }}</a>
        </div>
{% endfor %}
    </div>
    <div class="container" id="ethereum-news-container">
        <h2 class="news-title">Ethereum News</h2>
{% for link in links_ethereum %}  <!--displays each link in the ethereum links list-->
        <div class="news-article">
            <a class="news-link" href={{ link['link']|safe }} target="_blank">{{ link['text']|safe }}</a>
        </div>
{% endfor %}
    </div>
    <div class="container" id="nft-news-container">
        <h2 class="news-title">NFT News</h2>
{% for link in links_nft %}  <!--displays each link in the nft links list-->
        <div class="news-article">
            <a class="news-link" href={{ link['link']|safe }} target="_blank">{{ link['text']|safe }}</a>
        </div>
{% endfor %}
    </div>
</div>

{% endblock %}