{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid md-2 mb-2" id="search-table">
    <form method="POST"> <!--Form to search ethereum address-->
            <div class="form-group">
                <div class="form-control">
                    <input type="text" class="form-control" id="search-input" name="search-input" placeholder="Change Your Public Ethereum Address Here: "/>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
</div>

{% endblock %}