#news-container{
    display: flex;
}

.news-title{
    text-align: center;
}

.news-article{
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

.news-link{
    color: black;
    text-decoration-line: none;
}

.news-link:hover{
    color: orangered;
}

#eth-container{
    float: left;
}

#p-container{
   width: 25%;
   display: block;
   position: fixed;
   top: 100px;
   color: red;
}

#gas-container{
    display: flex;
    border: 5px solid black;
    padding: 10px;
}

.gas-single{
    
}

#average-gas-container{
    display: flex;
    border: 5px solid black;
    padding: 10px;
}

.average-single{
    
}

#news2-container{
    display: flex;
}

.stream-header{
    text-align: center;
    text-decoration: underline;
}

.altcoin-article{

}

.altcoin-link{

}

.altcoin-source{

}

.altcoin-date{

}