#news-container{
    display: flex;
}

.news-title{
    text-align: center;
}

.news-article{
    margin: 5px;
    border: 1px solid black;
    text-align: center;
}

.news-link{
    color: black;
    text-decoration-line: none;
}

.news-link:hover{
    color: orangered;
}

#eth-container{
    float: left;
}

#p-container{
   width: 25%;
   display: block;
   position: fixed;
   top: 100px;
   color: red;
}

#gas-container{
    display: flex;
}

.gas-single{
    
}